body {
    margin: 0px;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: small;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
nav ul li {
    padding: 5px;
    margin: 0 10px 0 0;
}
nav img {
    border-radius: 50%;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
}
input#searchbox {
    width: 500px;
    height: 30px;
    margin: 20px;
}
