body {
    margin: 0px;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: small;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    border: 1px solid black;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
nav ul li {
    padding: 5px;
    margin: 0 10px 0 0;
}
nav img {
    border-radius: 50%;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    text-decoration: underline;
}